
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Galeria
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
    <ion-col size="6"
      *ngFor="let photo of photoService.photos; index as position"   >
        <ion-img   [src]="photo.webviewPath"   (click)="presentModal(photo)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button (click)="navigationImport()">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- ion-fab markup  -->
</ion-content>
