<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content id="container">
    
    <div>
      <ion-item>
        <ion-label>Input</ion-label>
        <ion-input type="text" [(ngModel)]="form.input" name="input" #input="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Input2</ion-label>
        <ion-input type="text" [(ngModel)]="form.input2" name="input2" #input="ngModel"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>CheckBox</ion-label>
      <ion-toggle [(ngModel)]="form.checkbox" (ngModelChange)="checkBoxCheck()"></ion-toggle>
    </ion-item>
      <ion-item>
        <ion-label>Select1</ion-label>
        <ion-select [(ngModel)]="form.option">
          <ion-select-option value="opcion1">Opcion 1</ion-select-option>
          <ion-select-option value="opcion2">Opcion2</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Ceckbox</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="form.checkbox" ionChange="checkBoxCheck1()"></ion-checkbox>
      </ion-item>
      <button ion-button (click)="logForm()" block>Añadir</button>
    </div>
   
  </ion-content>