<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content id="container">
    
    <div>
      <ion-item>
        <ion-label>Input</ion-label>
        <ion-input id="inputForm" type="text" [(ngModel)]="form.input" name="input" #input="ngModel"></ion-input>
        <span class="hide" id="errorInput"></span>
      </ion-item>
    <ion-item>
      <ion-label>CheckBox</ion-label>
      <ion-toggle id="checkForm" [(ngModel)]="form.checkbox" ></ion-toggle>
      <span class="hide" id="errorCheck"></span>
    </ion-item>
      <ion-item>
        <ion-label>Select1</ion-label>
        <ion-select id="selectForm" [(ngModel)]="form.select">
          <ion-select-option value="opcion1">Opcion 1</ion-select-option>
          <ion-select-option value="opcion2">Opcion2</ion-select-option>
        </ion-select>
        <span class="hide" id="errorSelect"></span>
      </ion-item>
      <ion-button color="success" id="enviarForm" (click)="logForm()">Enviar</ion-button>
     
    </div>
   
  </ion-content>