

<ion-content [fullscreen]="true">
  

  <div id="container">
    <h1>Prueba Input</h1>
    <div>
      <ion-item>
        <ion-label>Introduce el texto</ion-label>
        <ion-input placeholder="Frase de prueba" [(ngModel)]="inputPrueba" name="inputPrueba"></ion-input>
      </ion-item>
      <ion-button color="success" (click)="logForm()">Enviar</ion-button>
    </div>
    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{textPrueba}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
  
  
</ion-content>